/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

body {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  background-blend-mode: multiply,multiply;
}
body .application--light {
  max-width: 1024px;
  margin: 0 auto;
  min-height: auto;
  border-radius: 5px;
  overflow: hidden;
}
.query-input {
  padding: 50px 90px; 
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  box-shadow: inset 0 5px 5px rgba(0,0,0,.3);
}
header {
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}